<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Unapec - Financiamiento estudiantil</title>
</head>

<body>
    <div class="my-10 ">
        <div class="flex justify-center">
            <img class="w-1/2"
                src="https://cdn.unapec.edu.do/portal-dynamic/Documentos/descargas/logo_principal/logo-unapec_color.png"
                alt="">
        </div>

        <div class="flex justify-center mt-10">
            <p class="font-semibold text-2xl">Financiamiento estudiantil</p>
        </div>

        <div class="flex justify-center mt-10">
            <a class="bg-[#0058A6] hover:bg-blue-600 text-slate-50 px-8 py-3 text-lg rounded-lg"
                href="{% url 'send_data'%}">Enviar
                datos</a>
        </div>
    </div>
</body>

</html>